<form [formGroup]="meuFormulario" (submit)="enviarFormulario()">

	<div class="container col-12">
		<h3 class="text-center text text-black font form-text-size">Formulário de Cadastros</h3>
		<br>
		<div class="row">
			<div class="col-6">
				<label class="form-label">Digite seu nome:</label>
				<input type="text" formControlName="name" placeholder="Informe o nome" class="form-control" />
				<div class="text-danger font form-text">
					<span *ngIf="meuFormulario.controls.name.errors?.['required']"></span>
					<span *ngIf="meuFormulario.controls.name && meuFormulario.controls.name.errors?.['maxlength']">
						Máximo 10 letras.
					</span>
					<span *ngIf="meuFormulario.controls.name && meuFormulario.controls.name.errors?.['minlength']">
						Mínimo 3 letras.
					</span>
				</div>
			</div>
			<div class="col-6">
				<label class="form-label">Digite sua idade:</label>
				<input type="number" formControlName="idade" placeholder="Informe a idade" class="form-control"/>
				<div class="text-danger font form-text">
					<span *ngIf="meuFormulario.controls.idade.errors?.['required']"></span>
					<span *ngIf="meuFormulario.controls.idade && meuFormulario.controls.idade.errors?.['min'] && meuFormulario.controls.idade.touched">
						Idade mínima 18 anos.
					</span>
					<span *ngIf="meuFormulario.controls.idade && meuFormulario.controls.idade.errors?.['max']">
						Idade máxima 80 anos.
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label class="form-label">Digite seu email:</label>
				<input type="text" formControlName="email" placeholder="Informe o email" class="form-control"/>
				<div class="text-danger font form-text">
					<span *ngIf="meuFormulario.controls.email.errors?.['required']"></span>
					<span *ngIf="meuFormulario.controls.email.errors?.['email']">
						Email inválido.
					</span>
				</div>
			</div>
			<div class="col-4">
				<label class="form-label">Digite sua senha:</label>
				<input type="password" formControlName="senha" placeholder="Informe sua senha" class="form-control" />
				<div class="text-danger font form-text">
					<span *ngIf="meuFormulario.controls.senha.errors?.['required']"></span>
					<span *ngIf="meuFormulario.controls.senha && meuFormulario.controls.senha.errors?.['maxlength']">
						Máximo 12 dígitos.
					</span>
					<span *ngIf="meuFormulario.controls.senha && meuFormulario.controls.senha.errors?.['minlength']">
						Mínimo 6 dígitos.
					</span>
				</div>
			</div>
			<div class="col-4">
				<label class="form-label">Selecione seu cargo:</label>
				<select formControlName="cargo" class="form-select">
					<option selected disabled value="">Selecione</option>
					<option value="Analista">Analista</option>
					<option value="Desenvolvedor">Desenvolvedor(a)</option>
					<option value="Engenheiro">Engenheiro(a)</option>
				</select>
				<span class="form-text" *ngIf="meuFormulario.controls.cargo.errors?.['required']">
				</span>
			</div>
		</div>
	</div>
	<br>

	<div class="text-center">
		<span *ngIf="!meuFormulario.valid">
			<p class="text-secondary font form-text">*O cadastro será liberado após todos os campos estiverem preenchidos!</p>
		</span>
		<span *ngIf="meuFormulario.valid">
			<p class="text-secondary font form-text"> 
				{{cadastroEditadoId ? '*Formulário liberado para atualizar!' : '*Formulário liberado para cadastro!'}}</p>
		</span>
		<br>
	</div>	
	<div class="d-grid gap-2 col-1 mx-auto">
		<button [disabled]="!meuFormulario.valid" class="btn btn-outline-secondary" type="submit" value="Cadastrar">
			{{ cadastroEditadoId ? 'Atualizar' : 'Cadastrar' }}
		</button>
		<button class="btn btn-outline-secondary" type="button" (click)="cancelarCadastro()">Cancelar</button>
	</div>
</form>
<br>
