:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/fundo2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 450px;
}

.mensagem {
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #f8d7da;
    color: #721c24;
  }

/* Mudar a cor do icone senha */
.icone-senha:hover {
  color: #000;
}

.icone-senha {
  color: #565656;
}


