<div class="container col-12">
    <h3 class="text-center text text-black font form-text-size">Listagem dos usuários</h3>
    <br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <button class="btn btn-primary" (click)="adicionarUsuario()">Adicionar Usuário</button>
    
        <button class="btn btn-secondary" (click)="sair()">Sair</button>
    <br>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-light table-hover table-sm font form-text table text-center">
            <thead>
            <tr>
                <th scope="col-1">#</th>
                <th scope="col-2">Nome:</th>
                <th scope="col-3">Data de Nascimento:</th>
                <th scope="col-4">Idade:</th>
                <th scope="col-5">Email:</th>
                <th scope="col-6">Cargo:</th>
                <th scope="col-7">Senha</th>
                <th scope="col-8">Editar</th>
                <th scope="col-9">Excluir</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of cadastros; let i = index">
                <td scope="row-1">{{item.id}}</td>
                <td scope="row-2">{{item.name}}</td>
                <td scope="row-3">{{formatarData(item.idade)}}</td>
                <td scope="row-4">{{calcularIdade(item.idade)}}</td>
                <td scope="row-5">{{item.email}}</td>
                <td scope="row-6">{{item.cargo}}</td>
                <td scope="row-7">{{item.senha}}</td>
                <td scope="row-8">
                    <button class="btn btn-warning" (click)="editar(item.id)">Editar</button>
                </td>
                <td scope="row-8">
                    <button class="btn btn-danger" (click)="excluir(item.id)">Excluir</button>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>