<div *ngIf="exibirFormulario">
	<user-form
		[valorInicial]="form"
		[cadastroEditadoId]="cadastroEditadoId">
	</user-form>
</div>
	
<!-- <div *ngIf="!exibirFormulario"> 
	<h3 class="text-center">Listagem de usuários</h3>
	<div class="container col-12">
		<div class="d-grid col-12 justify-content-md-end">
			<button class="btn btn-primary" (click)="exibirFormulario = true">Cadastrar</button> 
		</div>
	</div> -->
	<user-list
		[cadastros]="usuarios"
		(editCadastro)="buscarUsuarioId($event)"
		(deleteCadastro)="excluirUsuario($event)">
	</user-list>
<!-- </div> -->
<!-- (cancelarForm)="resetarFormulario()" -->

